version: "3.7"
services:
    backend:
        image: "backend"
        build:
            context: ./backend
            args:
                BACKEND_PORT: 3000
        ports:
            - 3000:3000
    frontend:
        image: "frontend"
        build:
            context: ./frontend
            args:
                NODE_ENV: "production"
                VUE_APP_API: "${VUE_APP_API}"
        ports:
            - 8080:80
        